.contenedor {
    width: 100vw;
    margin: 0px;
}


.menu {
    width: 100vw;
    padding: 10px;
    border-bottom: 1px solid gray
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}
